.container_produto_card {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 300px;
    height: 350px;
    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
}

.container_produto_card img {
    max-height: 200px;
}