.container_detalhe_produto {
    margin: 80px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.container_detalhe_produto p {
    margin-top: 20px;
}

.container_detalhe_produto button {
    margin-top: 20px;
    padding: 10px 50px;
    background-color: #cacade;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}